.App {
  text-align: center;
  /* max-width: 1440px; */
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  color: white;
}

.products {
  padding: 32px 16px;
}

.products .products-grid {
  display: grid;
  column-gap: 75px;
  row-gap: 150px;
  grid-template-columns: 4fr;
}

.products .products-grid .product {
  position: relative;
  display: flex;
  flex-direction: column;
}
.products .products-grid .product .product-img {
  position: relative;
  overflow: hidden;
}
.products .products-grid .product .product-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.products .products-grid .product .product-img .review {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ff9200;
  color: #fff;
  border-radius: 0 0 16px 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.products .products-grid .product .product-img .overview {
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  background-color: #ff9200;
  padding: 12px;
  color: #fff;
  transition: 0.3s ease-in-out all;
}

.cart {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 9%;
}
